Checkout Object:
<textarea rows=25 class="uk-textarea">
{
  "merchant": {
    "user_confirmation_url": "<%= @merchant_base_url %>/order_confirmation",
    "user_cancel_url": "<%= @merchant_base_url %>/cancel",
    "user_confirmation_url_action": "POST",
    "name": "Reforge"
  },
  "shipping":{
    "name":{
      "first":"Joe",
      "last":"Doe"
    },
    "address":{
      "line1":"633 Folsom St",
      "line2":"Floor 7",
      "city":"San Francisco",
      "state":"CA",
      "zipcode":"94107",
      "country":"USA"
    },
    "phone_number": "4153334567",
    "email": "joedoe@123fakestreet.com"
  },
  "billing":{
    "name":{
      "first":"Joe",
      "last":"Doe"
    },
    "address":{
      "line1":"633 Folsom St",
      "line2":"Floor 7",
      "city":"San Francisco",
      "state":"CA",
      "zipcode":"94107",
      "country":"USA"
    },
    "phone_number": "4153334567",
    "email": "joedoe@123fakestreet.com"
  },
  "items": [{
    "display_name":         "Awesome Pants",
    "sku":                  "ABC-123",
    "unit_price":           1999,
    "qty":                  3,
    "item_image_url":       "http://merchantsite.com/images/awesome-pants.jpg",
    "item_url":             "http://merchantsite.com/products/awesome-pants.html",
    "categories": [
      ["Home", "Bedroom"],
      ["Home", "Furniture", "Bed"]
    ]
  }
  ],
  "discounts":{
    "RETURN5":{
      "discount_amount":500,
      "discount_display_name":"Returning customer 5% discount"
    },
    "PRESDAY10":{
      "discount_amount":1000,
      "discount_display_name":"President's Day 10% off"
    }
  },
  "metadata":{
    "shipping_type":"UPS Ground",
    "mode":"modal"
  },
  "order_id":"JKLMO4321",
  "currency":"USD",  
  "financing_program":"flyus_3z6r12r",
  "shipping_amount":1000,
  "tax_amount":500,
  "total":100000
}
</textarea>
<br>
<br>
<button class='uk-button uk-button-primary' onclick="javascript:launchAffirm()">Checkout with Affirm</button>

<!-- Open Affirm Checkout -->
<script>
  affirm.ui.ready(
    function() {
      affirm.ui.error.on("close", function() {
        alert("Please check your contact information for accuracy.")
      })
    }
  )

  function launchAffirm() {
    checkoutConfig = JSON.parse(document.body.querySelector('textarea').textContent)
    affirm.checkout(checkoutConfig)

    affirm.checkout.open()
  }
</script>
