<!doctype html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>

    <script>
      _affirm_config = {
        public_api_key: "<%= ENV.fetch 'AFFIRM_PUBLIC_API_KEY' %>",
        script:         "<%= ENV.fetch 'AFFIRM_JS_URL' %>"
      };
      (function(m,g,n,d,a,e,h,c){var b=m[n]||{},k=document.createElement(e),p=document.getElementsByTagName(e)[0],l=function(a,b,c){return function(){a[b]._.push([c,arguments])}};b[d]=l(b,d,"set");var f=b[d];b[a]={};b[a]._=[];f._=[];b._=[];b[a][h]=l(b,a,h);b[c]=function(){b._.push([h,arguments])};a=0;for(c="set add save post open empty reset on off trigger ready setProduct".split(" ");a<c.length;a++)f[c[a]]=l(b,d,c[a]);a=0;for(c=["get","token","url","items"];a<c.length;a++)f[c[a]]=function(){};k.async=
      !0;k.src=g[e];p.parentNode.insertBefore(k,p);delete g[e];f(g);m[n]=b})(window,_affirm_config,"affirm","checkout","ui","script","ready","jsReady");
    </script>

    <style>
      <!-- Add CSS here -->
    </style>
  </head>
  <body>
    <div class="uk-container uk-container-small uk-margin-bottom">
      <h1 class="uk-margin-top uk-text-center">
        <a href="/">Affirm POC</a>
      </h1>

      <%= yield %>
    </div>
  </body>
</html>
